version: "3.9"

services:
  nodered:
    image: nodered/node-red:3.1
    ports:
      - "1880:1880"
    environment:
      - TZ=${TIMEZONE}
      - NODE_RED_ENABLE_PROJECTS=true
    volumes:
      - ./nodered/data:/data
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./redis/data:/data
