version: "3.9"

services:
  nodered:
    image: nodered/node-red:latest
    ports:
      - "1880:1880"
    environment:
      - TZ=${TIMEZONE}
      - NODE_RED_ENABLE_PROJECTS=true
    volumes:
      - nodered_data:/data
    depends_on:
      - postgres
      - redis

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    depends_on:
      - nodered
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    command: ["http", "nodered:1880"]
    ports:
      - "4040:4040"
    restart: unless-stopped

  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./redis/data:/data

volumes:
  nodered_data:
